/* Slideshow container */
.slideshow {
    height: 80vh;
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slide-1 {
    background-image: url(../images/slide1.jpg);
}

.slide-2 {
    background-image: linear-gradient(rgba($color-brown, .5), rgba($color-brown, .5)),
        url(../images/slide2.jpg);
}

.slide-3 {
    background-image: linear-gradient(rgba($color-brown, .5), rgba($color-brown, .5)),
        url(../images/slide3.jpg);
}

.slide-1,
.slide-2,
.slide-3 {
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    right: 0;
}

.slider__texts {
    text-align: center;
    width: 65%;
    margin: auto;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);

    @media (max-width: $bp-md) {
        width: 75%;
    }

    @media (max-width: $bp-sm) {
        top: 40%;
        width: 90%;
    }
}

.slider__text {
    color: $color-white;
    text-transform: uppercase;
    font-family: $font-poppins;

    &-bg {
        font-weight: 800;
        font-size: 5.5rem;
        line-height: 1.4;

        @media (max-width: $bp-lg) {
            font-size: 3.5rem;
        }

        @media (max-width: $bp-sm) {
            font-size: 3rem;
            font-weight: 400;
        }
    }

    &-sm {
        padding-bottom: .6rem;
        font-size: 2rem;
        color: $color-orange;
        font-weight: 600;

        @media (max-width: $bp-lg) {
            font-size: 1.5rem;
        }

        @media (max-width: $bp-md) {
            font-size: 1.3rem;
        }

        @media (max-width: $bp-sm) {
            font-size: 1.3rem;
        }
    }
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .9
    }

    to {
        opacity: 1
    }
}