.statistics {
    background-color: $color-orange;
    padding: 8rem;

    &-grid {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-template-rows: 1fr;
        grid-column-gap: 4rem;
        grid-row-gap: 7rem;
    }
}

.statistic {
    &-icon {
        height: 8rem;
        width: 8rem;
    }

    &-line {
        display: block;
        content: "";
        background-color: #423b3a;
        height: 2px;
        width: 6rem;
        margin: .6rem 0 1.5rem;
    }

    &-title {
        font-size: 1.9rem;
        color: $color-brown;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    &>.statistic-count {
        font-weight: 900;
        color: $color-white;
        font-size: 5rem;
        padding-top: 1rem;
    }
}