//! FONTS
$font-poppins: poppins;
$font-roboto: roboto condensed;

//* COLORS
$color-brown: #211A18;
$color-white: #fff;
$color-orange: #fca311;
$color-light-brown: #FAF6F5;
$color-paragraph: #353432;
$color-gray: #c5c5c5;

//? BREAKPOINTS
$bp-sm:575.98px;
$bp-md: 767.98px;
$bp-lg:991.98px;
$bp-xlg: 1199.98px;